.Form {
    margin: 20px 0 0 0;
}

.Form > form {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.Form > form > input {
    padding: 10px 20px;
    outline: none;
    font-size: 22px;
    line-height: 30px;

    color: #F2F2F2;
    border-radius: 10px;
    background-color: #5D7A8C;
}

.Form > form > input::placeholder {
    color: #223440;
}

.add_btn {
    width: 45px;
    height: 45px;

    border-radius: 50%;
    background: center/cover no-repeat url("../../../images/plus.png"), #5D7A8C;

    cursor: pointer;
}